/* Global styles */

.cursor-pointer { cursor: pointer; }

* {
    padding: 0;
}

/* Item list styles */

.item-list {
    margin-top: 15px;
    list-style: none;
}

.item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.item-title {
    font-size: 16px;
    font-weight: bold;
}

.item-details {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.id {
    font-size: 12px;
}

.date {
    font-size: 12px;
    color: #777;
}

.description {
    font-size: 12px;
    margin-left: 20px;
}

/* The text area on the right hand pane */

.text-area {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    resize: vertical;
    margin-bottom: 15px;
}

.edittext {
    flex-grow: 1;
    margin-bottom: 15px;
    margin-top: 15px;
    display: none;
}

.viewtext {
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    flex-grow: 1;
}

/* Styles for within the text area */

.viewtext ul {
    list-style-position: inside;
}

.viewtext p {
    margin-bottom: 1em;
}

.viewtext li > ul, li > ol {
    padding-left:25px;
}

.viewtext h1, h2 {
    border-bottom:1px solid #CCC;
    padding-bottom:3px;
}

.viewtext blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
